<style>
  .footer {
    width: 100% !important;
    background-color: #191a19;
    border: 1px solid gray;
    color: wheat;
    padding: 1rem;
  }
</style>
<!-- <#%- include("./head.ejs") %> -->

<div class="container-fluide footer">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure error esse
    laborum doloremque illum. Eligendi veritatis corrupti alias quidem doloribus
    in, doloremque, neque tempora inventore, quaerat sapiente? Maiores, ratione
    saepe? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
    inventore, repellat dolor harum architecto aliquid temporibus illo eum
    reprehenderit, modi fuga doloribus! Adipisci eveniet accusamus, ratione
    reprehenderit id maiores ducimus velit facere dolores facilis consequatur
    ipsam totam esse asperiores sapiente corrupti ut praesentium, atque
    doloremque labore, impedit repudiandae earum. Accusamus rerum numquam
    assumenda quaerat sequi dolorem dolor sunt at vel cumque nemo sapiente sit
    ut delectus excepturi soluta alias, quod nostrum! Repellat tempora, impedit
    quisquam excepturi quidem aspernatur ab asperiores maiores corporis rem,
    obcaecati accusamus ullam quod quis debitis quibusdam! Minus ab voluptatum
    eum quia, officiis nostrum quisquam molestiae quos tenetur eveniet nisi in
    voluptatem iste qui explicabo et, saepe quaerat? Perspiciatis consequuntur
    nobis aut iure quia dolore rerum eligendi nostrum adipisci ducimus
    recusandae est, laboriosam possimus dicta, iusto optio ut dignissimos et.
    Qui reiciendis tenetur nesciunt aliquam, eius possimus quo cumque fuga quae,
    repudiandae consequuntur velit, modi labore sapiente ipsa ullam vero.
    Blanditiis aperiam dolores veritatis. Veniam dignissimos culpa impedit
    eveniet sint? Vero quos qui sit natus. Nobis, eum optio veritatis
    voluptatibus quasi asperiores? Provident tempore iusto reprehenderit quam
    dolore atque sed at? Modi maiores pariatur beatae odio eum optio natus neque
    nemo, dicta suscipit officia, deserunt nobis autem explicabo accusantium ab
    laboriosam recusandae minus placeat possimus velit. Alias quam omnis labore
    pariatur voluptatum sequi id ex iusto obcaecati commodi at doloribus dolorum
    quibusdam a eveniet amet eius ullam, consequuntur nam exercitationem
    veritatis cum repudiandae! Facilis dolore at, voluptatem expedita facere
    perspiciatis minus necessitatibus explicabo iure voluptatum porro
    reprehenderit quis. Sapiente ipsam harum est rem unde repudiandae fugiat!
    Exercitationem voluptate nostrum eligendi sed, possimus libero mollitia,
    vitae harum sunt enim repellendus pariatur commodi hic quo aperiam quis
    molestias illum nesciunt, minima qui maxime atque nobis. Dolorem, quis cum,
    totam unde error accusantium ab omnis consectetur laudantium, voluptate
    suscipit fugiat ratione? At est temporibus distinctio deserunt unde
    architecto, hic dolores eaque, molestias ad tempore eum fugit aliquid
    accusamus id consectetur sit optio vel rerum iusto debitis. Enim non
    voluptas labore ipsa earum nemo optio nisi iste alias ducimus incidunt,
    blanditiis dignissimos cumque ipsum laboriosam sed assumenda perspiciatis,
    debitis natus soluta? Animi, molestiae quo quidem fuga ex culpa officia
    voluptate temporibus exercitationem voluptatibus voluptatem omnis vel autem
    est placeat ut, aut assumenda officiis maxime error quae. Enim perferendis
    esse culpa accusantium placeat modi, dolore soluta exercitationem ducimus
    dicta quae hic, consectetur cumque velit dolores. Odio odit tempore
    voluptatum temporibus consectetur debitis corporis nisi quaerat obcaecati
    aliquam nemo hic eaque exercitationem nam vitae earum necessitatibus
    reiciendis, quos voluptates suscipit dolores optio autem cumque? Quo
    excepturi ratione tempora. Voluptatibus aspernatur, consequuntur harum
    adipisci, magni sunt sit maxime molestiae quo minima, unde officia tempore.
    Illo sequi animi eveniet similique perferendis, laboriosam, veritatis
    placeat fugit aliquam commodi aut enim nihil voluptate cum. Molestias odio
    blanditiis minus dolorem culpa nemo libero iure maxime ratione, expedita
    error necessitatibus quam? Modi voluptas facilis eaque temporibus aliquid
    sed nihil eveniet odio, tempora beatae dolore quo perspiciatis quaerat iste
    iusto suscipit harum reprehenderit nobis optio quae maiores ab illum
    dolorum! Molestias sequi architecto omnis! Delectus praesentium, maxime
    optio aspernatur adipisci natus. Ducimus ipsam ullam non expedita temporibus
    facilis, dolore optio! Inventore repellendus hic, qui provident fugit odit
    omnis aliquid, maiores, odio magnam alias porro exercitationem dolore
    similique pariatur iste tempora illum quaerat eaque ex nobis! Modi, eum
    possimus totam nihil minima maiores? Deserunt recusandae sit ut cupiditate
    quasi, vero nihil ratione in sunt, beatae, voluptates adipisci vel ipsa
    optio aspernatur odio ipsam. Culpa, officia vitae est possimus quidem quia
    sit adipisci voluptate ad debitis ipsam dignissimos facilis soluta
    consectetur recusandae dicta, inventore dolorum, minima aperiam a cumque
    laudantium velit omnis. Rerum doloribus eaque provident asperiores
    exercitationem molestiae quisquam sunt non corporis quis similique quasi
    ipsa dignissimos eos recusandae esse facilis, libero sequi? Omnis quidem cum
    delectus veritatis cumque! Aspernatur repellendus atque dolores mollitia
    esse. Fugiat, odio eaque! Vel beatae incidunt possimus earum alias aliquid,
    laboriosam tempora dicta optio perferendis nisi? Unde optio maiores quos
    pariatur beatae, quaerat dolorem eaque eos, exercitationem porro saepe
    consectetur autem laborum ab corporis, eligendi obcaecati soluta rerum? Odio
    quibusdam quisquam esse, vero excepturi quae aliquam impedit sit dicta
    praesentium nostrum rem? Repellat iste praesentium, dolore, maiores placeat
    voluptas repudiandae nostrum tempora blanditiis dolor atque porro earum
    laboriosam eveniet inventore nobis? Mollitia non ipsum voluptates fugit
    temporibus perferendis odio, quasi perspiciatis odit quis dolore eveniet.
    Vitae iure voluptates doloremque numquam? Voluptates amet velit accusamus
    totam, fugit mollitia quas tempore temporibus. Itaque beatae sit commodi
    earum voluptate eaque temporibus nulla, dolores, soluta excepturi laboriosam
    magni tenetur. Nemo doloribus hic asperiores et, voluptatibus dolor dolorum
    eos eius tempore cum aliquam molestiae numquam ex itaque facilis sunt quod
    labore magnam animi error officiis qui odio enim consequuntur! Nisi tenetur
    adipisci recusandae voluptatibus reiciendis atque totam praesentium
    quibusdam magni officiis similique neque placeat, tempore impedit minima
    nesciunt rerum. Voluptatibus quas aliquam quidem. Consequuntur voluptas at,
    consequatur accusantium inventore consectetur? Natus quos, eum accusantium
    provident fuga qui a doloremque quaerat expedita consequatur voluptates
    cupiditate vitae nam laudantium ex quia perspiciatis, sequi nulla? Esse
    labore, blanditiis, rem quibusdam exercitationem, dolor iusto nemo
    voluptatibus nulla eos obcaecati doloribus illum ipsam delectus corrupti
    consequuntur soluta hic tempore nihil molestias tenetur dolore! Ut corporis
    temporibus odit, illo at pariatur alias laborum sequi sapiente nobis! Veniam
    eos tenetur dolores, earum consequuntur et velit repudiandae eligendi nam
    obcaecati? Neque quas repellendus consectetur veniam. Quam illo perspiciatis
    molestias beatae sit, repudiandae id aut tempora, laboriosam minus adipisci.
    Odit.
  </p>
</div>
