<style>
  .footer_card {
    background-color: rgb(49, 53, 49);
    color: white;
    padding: 1.5rem 1rem;
  }

  .social-media-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .social-media-link h5 {
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .social-media-link h5:hover {
    transform: scale(1.3);
    color: #dc3545; /* Bootstrap Danger color (red) */
    cursor: pointer;
  }

  .bg-danger {
    height: 4px;
    width: 80%;
    margin: 1rem auto;
    border-radius: 50px;
  }

  .footer-text {
    font-size: 0.95rem;
    margin-top: 0.5rem;
  }

  @media (max-width: 576px) {
    .social-media-link {
      gap: 1rem;
    }
    .social-media-link h5 {
      font-size: 1.5rem;
    }
  }
</style>

<div class="card text-center mb-0 rounded-0 mt-5 footer_card">
  <div class="card-body">
    <div class="social-media-link">
      <h5><i class="fa-brands fa-x-twitter"></i></h5>
      <h5><i class="fa-brands fa-linkedin"></i></h5>
      <h5><i class="fa-brands fa-facebook"></i></h5>
      <h5><i class="fa-brands fa-instagram"></i></h5>
    </div>

    <div class="bg-danger"></div>

    <p class="footer-text">
      <b>Copyright &nbsp;2025</b>
      <i class="fa-regular fa-copyright"></i>
      <b>&nbsp; <i>Designed by</i> Mohmmad Mazid</b>
    </p>
  </div>
</div>
