<body>
  <%- layout("./layouts/boilerplate.ejs") -%>
  <style>
    .form {
      margin-top: 4rem !important;
      border: 1px solid rgb(245, 238, 238);
      background-color: white;
      border-radius: 1rem;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    }
    .text-center {
      background-color: #322c2b;
      color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
    }
    .signupBtn {
      background-color: #2a6856 !important;
      color: white;
    }
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .form {
        margin: 2rem 1rem !important;
        padding: 1.5rem !important;
      }
    }
  </style>

  <div class="container">
    <form
      action="/user/signup"
      method="post"
      class="form p-4 mx-auto col-lg-6 col-md-8 col-sm-10"
    >
      <h1 class="text-center"><b>Sign Up</b></h1>

      <div class="mb-3">
        <label for="username" class="form-label"><b>Username</b></label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          ><b>Email address</b></label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          ><b>Password</b></label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <button type="submit" class="btn signupBtn w-100">
        <b>Submit</b>
      </button>
    </form>
  </div>
</body>
